@import "~assets/scss/colors";

app-side-menu-admin{
    border-right: 1px solid $field-border;
    // IE11 css hacks
    // this style will work on IE only
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height:100vh;
    }
}
.left-sidenav-container{
    .logo-img {
        width: 135px;
        position: absolute;
        left: 50px;
        top: 25px;
        &.smaller-view {
            display: none;
        }
        &.smaller-view-without-animation{
            display: none;
        }
    }
    .combine{
        background-color: #fff;
        overflow: hidden;
        .menu-wrapper{
            width: 225px;
            .logo-box{
                padding: 25px 15px;
                border-bottom: 1px solid $field-border;
                cursor: pointer;
                .menu-bars{
                    width: 18px;
                    margin-left: 2px;
                    margin-top: 2px;
                    transform: rotate(180deg);
                }
                .logo-img{
                    width: 135px;
                    margin-left: 11px;
                }
            }
            .profile-box{
                padding: 20px 9px;
                display: flex;
                flex-direction: row;
                .pro-icon{
                    width: 31px;
                    height: 31px;
                    // Collapsed menu UI issue
                    //z-index: 1;
                }
            }
            .side-menu-list{
                mat-list{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    mat-list-item{
                        color: $dark-text;
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-family: 'futura_ltbook';
                        padding: 0;
                        .svg-img{
                            margin-right: 17px;
                            height: 21px;
                            margin-left: 2px;
                            svg{
                                width: 15px;
                                height: 21px;
                                fill: $grey-icon;
                            }
                        }
                        &.active{
                            background-color: $primary;
                            color: #fff;
                            -webkit-text-stroke-width: 0;
                            .svg-img{
                                svg{
                                    fill: #fff;
                                    path{
                                        fill: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .web-link {
                font-size: 12px;
                text-align: center;
                .line {
                    height: 1px;
                    background: $light-text;
                    display: block;
                    width: 130px;
                    margin: 10px auto 20px;
                }
            }
        }
        &.smaller-view{
            width: 50px;
            animation-name: close;
            animation-duration: .2s;
            //animation-delay: 2s;
            .menu-wrapper{
                .logo-box{
                    .menu-bars{
                        -webkit-animation: rotate-back .4s linear; /* Safari 4.0 - 8.0 */
                        animation: rotate-back .4s linear;
                        transform: rotate(0deg);
                    }
                }
                .profile-box{
                    .side-menu{
                        margin-left: -30px;
                        //height: 30px;
                        width: 30px;
                        .mat-select-value, .mat-select-arrow{
                            color: transparent;
                        }
                        .mat-form-field-wrapper{
                            padding: 0;
                            .mat-form-field-infix{
                                min-width: 30px;
                                background: transparent;
                            }
                            .mat-form-field-flex .mat-form-field-infix .mat-form-field-placeholder{
                                color: transparent;
                                transition: none;
                            }
                            .mat-form-field-underline{
                                display: none;
                            }
                        }
                    }
                }
            }
            app-footer .footer-notes{
                width: 0;
                overflow: hidden;
                padding: 0;
                animation-name: hide;
                animation-duration: .1s;
                color: #fff;
            }
            .web-link {
                display: none;
            }
        }
        &.smaller-view-without-animation{
            width: 50px;
            .menu-wrapper{
                .logo-box{
                    .menu-bars{
                        transform: rotate(0deg);
                    }
                }
                .profile-box{
                    .side-menu{
                        margin-left: -30px;
                        //height: 30px;
                        width: 30px;
                        .mat-select-value, .mat-select-arrow{
                            color: transparent;
                        }
                        .mat-form-field-wrapper{
                            padding: 0;
                            .mat-form-field-infix{
                                min-width: 30px;
                                background: transparent;
                                .mat-form-field-placeholder{
                                    color: transparent;
                                }
                            }
                            .mat-form-field-underline{
                                display: none;
                            }
                        }
                    }
                }
            }
            app-footer .footer-notes{
                width: 0;
                overflow: hidden;
                padding: 0;
            }
            .web-link {
                display: none;
            }
        }
        &.larger-view{
            width: 225px;
            animation-name: open;
            animation-duration: .4s;
            .menu-wrapper{
                .logo-box{
                    .menu-bars{
                        transform: rotate(180deg);
                        -webkit-animation: rotate .4s linear; /* Safari 4.0 - 8.0 */
                        animation: rotate .4s linear;
                    }
                }
            }
            app-footer .footer-notes{
                width: 225px;
                animation-name: show;
                animation-duration: .2s;
            }
        }
        &.larger-view-without-animation{
            width: 225px;
            .menu-wrapper{
                .logo-box{
                    .menu-bars{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

@keyframes close {
    0%{
        width: 225px;
    }
    100%{
        width: 50px;
    }

}
@keyframes open {
    0%{
        width: 50px;
    }
    100%{
        width: 225px;
    }
}
@keyframes hide {
    0%{
        width: 225px;
    }
    100%{
        //visibility: hidden;
        width: 0;
    }
}

@keyframes show {
    0%{
        //visibility: hidden;
        width: 0;
        color: #fff;
    }
    100%{
        width: 225px;
    }
}

// Rotate animation for menu arrow icon
@keyframes rotate-back {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes rotate-back {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}