// Color Codes for HealthyNet

// Background colors
$light-bg: #f2f6f9;
$primary: #006276;
$dark-bg: rgba(0, 0, 0, 0.8);
// Text colors
$dark-text: #3e3e3e;
$light-text: #848687;
$label-text: #bfbfbf;
// Button colors
$orange: #ee7b20;
$blue-pressed: #005860;
$orange-pressed: #de7019;
$white-pressed: #d1d1d1;
$white-disabled: rgba(62, 62, 62, 0.4);

// Elements colors
$field-border: #e5e9ec;
$active-field-border:rgba(0, 98, 118, 0.6);
$disabled-input: #efefef;
$red: #ee634c;
$green: #428e42;
$ripple-color: rgba(0,98,118,0.05);
$toggle-bar: rgba(0,98,118,0.5);
$main-bg: #f2f6f9;
$grey-icon: #8596a8;
$table-odd: #f9fafc;
$paginator-disabled: rgba(0, 98, 118, 0.34);

// Client side new colors
$logo-blue: #0c747d;
$logo-grey: #a9a9a9;
$hint-text: #3bafda;
$table-hover: #d8dadf;
$light-blue: #11cfe0;
$expanded-row-bg: #ebeef0;


$box-bg: #f2f5fb;
$box-border: #acb3bb;
// color for chrome
$chrome-text: #222;