// All Variables for This Project
$active-input-shadow: 0px 1px 3px 0 rgba(0, 98, 118, 0.4);
$input-field-radius: 3px;
$field-box-radius: 5px;
$toggle-tabs-radius: 20px;
$blue-btn-shadow:  0px 4px 6px 0 rgba(0, 98, 118, 0.3);
$orange-btn-shadow: 0px 4px 6px 0 rgba(206, 91, 0, 0.3);
$login-box-shadow: 1px 1px 17px 5px rgba(0, 0, 0, 0.25);
$network-row: 0 0 3px 0 #c0c0c0;

// devices widths
$desktop: "max-width: 1280px";
$desktop-small: "max-width: 1024px";
$tablet: "max-width: 992px";
$tablet88: "max-width: 880px";
$tablet8: "max-width: 800px";
$tablet-small: "max-width: 768px";

// devices heights
$height8: "min-height: 800px";