<div class="all-payer-info">
  <h2 class="light-heading">All Payers Contact Information</h2>
  <div class="info-container">
    <div class="col-wise">
      <p class="bold">
        BlueCross BlueShield of Western New York:
      </p>
      <p class="normal">
        Provider Service: 1-800-950-0052<br>Senior Blue: 1-800-329-2792<br>BlueCard: 1-800-429-9886<br>
        Federal Provider Service: 1-800-234-6008<br>Government Programs: 1-877-327-1395<br>
        (Child Health Plus, Community Care, Family Health Plus, Healthy New York)
      </p>
      <p class="combine"><span class="bold">Fidelis:</span> 1-888-343-3547 (1-888-FIDELIS)</p>
      <p class="combine">
        <span class="bold">Nova Healthcare Administrators:</span> Refer to Customer Service Number on Member’s ID Card
      </p>
      <p class="combine">
        <span class="bold">Univera:</span> 1-800-617-1114 or 716-857-4444
      </p>
    </div>
    <div class="col-wise">
      <p class="bold">BlueShield of Northeastern New York:</p>
      <p class="normal">Provider Service: 1-800-444-4552<br>BlueCard: 1-800-429-9886<br>
        Senior Blue: 1-800-329-2792<br>Government Programs: 1-877-327-1395<br>
        (Child Health Plus, Community Care, Family Health Plus, Healthy New York)</p>
      <p class="bold">Independent Health:</p>
      <p class="normal">Provider Relations: 1-800-736-5771 or 716-631-3282<br>
        Self-Funded Provider Relations: 1-800-862-4728 or 716-631-8071</p>
      <p class="combine">
        <span class="bold">YourCare:</span> 1-800-683-3781
      </p>
    </div>
  </div>
</div>