<div class="top-row">
  <h1 class="main-heading">Provider Inquiry Summary</h1>
</div>
<div class="main-right-section">
  <!-- Select Payer - Drop down - Start ----------------------------------------------- -->
  <div class="title-row row">
    <div class="col-xs-2 col-sm-2 col-md-1 no-padding">
      <h2 class="sub-heading">Payer <span class="star">*</span></h2>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-5 no-padding">
      <mat-form-field class="select-field" floatPlaceholder="never">
        <mat-select placeholder="-- Select Payer --" name="userPayer"
                    [(ngModel)]="model.userPayer" #userPayer="ngModel" required
                    (change)="updatePayer(model.userPayer)">
          <mat-option *ngFor="let payer of payerList | sortBy : 'name'"
                      [value]="payer.payerId">{{ payer.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="userPayer.errors?.required">
          Payer is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-6 no-padding user-status" >
      <mat-checkbox style="display:none" class="check-input" [(ngModel)]="model.currentUserOnly">Inquiries for just this user</mat-checkbox>
      <div class="tip-sheet">
        <div (click)="navigateToTip()"> Tip Sheet</div>
      </div>
    </div>
  </div>
  <!-- Select Payer - Drop down - End ----------------------------------------------- -->

  <!-- Requesting Provider Selection - Starts ----------------------------------------------- -->
  <div class="requesting-provider" [hidden]="!isRequestingProvider">
    <div class="title-row row">
      <div class="col-xs-6 col-sm-6 col-md-6 no-padding">
        <h2 class="sub-heading">Provider</h2>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 search-box" *ngIf="userRole === 'PRACTICE_OFFICE_USER' || practiceOfficeUserMode">
        <button mat-button class="blue-btn search-btn common-search" type="button"
                (click)="searchProvidersByClick();">Search</button>
        <div class="input-container">
          <mat-form-field class="input-field" hideRequiredMarker="true" floatPlaceholder="never">
            <input matInput type="text" placeholder="Search" (keyup)="searchProviders($event)"
                   class="common-search" [(ngModel)]="keyword">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="{{tabClass}}">
      <mat-tab-group class="toggle-tabs" (selectChange)="checkRecent()">
        <mat-tab label="All"></mat-tab>
        <mat-tab label="Recent Providers"></mat-tab>
      </mat-tab-group>
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           class={{tableClass}}>
      <thead>
      <tr *ngIf="userRole === 'PRACTICE_OFFICE_USER' || practiceOfficeUserMode">
        <th>Payer ID</th>
        <th>First Name</th>
        <th >Last Name </th>
        <th>Tax ID</th>
        <th>NPI </th>
        <th class="large-col">Address</th>
        <th>City</th>
        <th class="small-col">State</th>
        <th>Zip Code</th>
        <th>Taxonomy</th>
      </tr>
      <tr *ngIf="userRole === 'PAYER_USER' && !practiceOfficeUserMode">
        <th>
                <span class="intable-search">Payer ID
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.providerId"  /></span>
        </th>
        <th>
                <span class="intable-search">First Name
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.firstName"  /></span>
        </th>
        <th>
                <span class="intable-search">Last Name
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.lastName" /></span>
        </th>
        <th>
              <span class="intable-search">Tax ID
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.taxId" /></span>
        </th>
        <th class="large-col">
              <span class="intable-search">NPI
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.npi" /></span>
        </th>
        <th>
              <span class="intable-search">Address
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.serviceAddressLine1" /></span>
        </th>
        <th class="small-col">
              <span class="intable-search">City
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.serviceCity" /></span>
        </th>
        <th class="small-col">
              <span class="intable-search">State
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.serviceState" /></span>
        </th>

        <th class="small-col">
              <span class="intable-search">Zip Code
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.serviceZip" /></span>
        </th>
        <th>
              <span class="intable-search">Taxonomy
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.taxonomy" /></span>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="providerList">
      <tr *ngFor="let provider of providerList | sortBy : 'lastName'" style="cursor:pointer"
          [ngClass]="{'highlighted': model.payerProvider !== null ? provider.providerId === model.payerProvider.id && provider.serviceAddressLine1 === model.payerProvider.address.line1 : false}"
          (click)="selectProvider(provider)">
        <td>{{ provider.providerId? provider.providerId : '. . . . . . .'}}</td>
        <td>{{ provider.firstName? provider.firstName : '. . . . . . .'}}</td>
        <td>{{ provider.lastName? provider.lastName : '. . . . . . .' }}</td>
        <td>{{ provider.taxId? provider.taxId : '. . . . . . .' }}</td>
        <td>{{ provider.npi? provider.npi : '. . . . . . .' }}</td>
        <td>{{ provider.serviceAddressLine1 + provider.serviceAddressLine2? provider.serviceAddressLine1 + ' ' + provider.serviceAddressLine2 : '. . . . . . .' }}</td>
        <td>{{ provider.serviceCity? provider.serviceCity : '. . . . . . .' }}</td>
        <td>{{ provider.serviceState? provider.serviceState : '. . . . . . .' }}</td>
        <td>{{ provider.serviceZip? (provider.serviceZip | zipCodeMask) : '. . . . . . .' }}</td>
        <td>{{ provider.taxonomy? provider.taxonomy : '. . . . . . .' }}</td>
      </tr>
      </tbody>
    </table>
    <!-- Custom Pagination - Starts -->
    <div class="new-custom-pagination short" *ngIf="totalPages >= 2" >
      <div class="pagination-info">
        <label>Items per page
          <mat-form-field class="page-dropdown" floatPlaceholder="never">
            <mat-select placeholder="{{pageSize}}" (change)="updatePageSize($event)"
                        [(ngModel)]="pageSize">
              <mat-option value="100">100</mat-option>
              <mat-option value="250">250</mat-option>
              <mat-option value="500">500</mat-option>
              <mat-option value="750">750</mat-option>
              <mat-option value="1000">1000</mat-option>
            </mat-select>
          </mat-form-field>
        </label>
        <label>
          Showing <span class="per-page">{{currentOffset + 1}}</span>  of  <span class="total">{{totalPages === 0 ? 1 : totalPages}}</span>
        </label>
      </div>
      <div class="numbers">
        <!--TODO: update function and variable names to more appropriate names-->
        <button (click)="prevPage(preClass)" [ngClass]="preClass">
          <svg fill="#0c747d" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
        <button (click)="nextPage(nextClass)" [ngClass]="nextClass">
          <svg fill="#0c747d" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
      </div>
    </div>
    <!-- Custom Pagination - Ends -->
    <span class="provider-hint short">
            (Requesting Provider is required. Please select a provider from the list)
          </span>
  </div>
  <span class="provider-msg" *ngIf="showProviderMessage">Please select a requesting provider</span>
  <!-- Requesting Provider Selection - End ----------------------------------------------- -->

  <form name="providerStatusForm" #providerStatusForm="ngForm" novalidate>

    <!-- Inquiry Date Range - Starts ----------------------------------------------- -->
    <div class="fields-container">
      <h2 class="sub-heading">Inquiry Date Range</h2>
      <div class="information">
        <span class="info-icon" (click)="rangeInfo = !rangeInfo"><img src="/assets/images/info.png" alt="info"/> </span>
        <div class="info-parah" [ngClass]="{'show' : (rangeInfo), '': (false)}">Start date must be within past 6 months</div>
      </div>
      <div class="field-row row">
        <div class="col-sm-6 col-md-3 field-col">
          <div class="calendar-container">
            <label class="label-text">From</label>
            <mat-form-field class="calendar-field" floatPlaceholder="never" hideRequiredMarker="true">
              <input matInput [matDatepicker]="pickerFrom" placeholder="MM/DD/YYYY"
                     name="fromDate" [(ngModel)]="fromDate" #inquiryFrom="ngModel"
                     maxlength="10"[max]="maxDate" [min]="minDate"
                     (blur)="dateMsgProviderFrom= validateFromDate($event)"
                     (keypress)="handledate($event)" (click)="verifyProvider()"
                     (dateChange)="pickerFrom.close(); dateMsgProviderFrom = null; customDateCheck = (fromDate > toDate); verifyProvider()">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom ></mat-datepicker>
              <span class="custom-invalid" *ngIf="dateMsgProviderFrom !== null">{{ dateMsgProviderFrom }}</span>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 field-col">
          <div class="calendar-container">
            <label class="label-text">To</label>
            <mat-form-field class="calendar-field" floatPlaceholder="never" hideRequiredMarker="true">
              <input matInput [matDatepicker]="pickerTo" placeholder="MM/DD/YYYY"
                     name="toDate" [(ngModel)]="toDate" #inquiryTo="ngModel"
                     maxlength="10" [max]="maxDate" [min]="fromDate" [disabled]="!fromDate"
                     (blur)="dateMsgProviderTo= validateToDate($event)"
                     (keydown)="handledate($event)" (click)="verifyProvider()"
                     (dateChange)="pickerTo.close(); dateMsgProviderTo = null; customDateCheck = (fromDate > toDate); verifyProvider()">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo ></mat-datepicker>
              <span class="custom-invalid" *ngIf="dateMsgProviderTo !== null">{{ dateMsgProviderTo }}</span>
              <span class="custom-invalid duplicate" *ngIf="customDateCheck">To date should be greater than from date</span>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <!-- Inquiry Date Range - Ends ----------------------------------------------- -->

    <!-- Filter Options - Starts ----------------------------------------------- -->
    <div class="fields-container">
      <h2 class="sub-heading">Filter Options</h2>
      <div class="field-row row">
        <div class="col-sm-6 col-md-3 field-col">
          <div class="input-container">
            <label class="label-text">Member ID #</label>
            <mat-form-field class="input-field" hideRequiredMarker="true"
                            floatPlaceholder="never">
              <input matInput placeholder="Enter Member Number" pattern="^\s*[A-Za-z0-9]+\s*$"
                     name="memberNo" #memberNo="ngModel" [rangeLength]="[2, 80]"
                     [(ngModel)]="model.patient.memberId" (click)="verifyProvider()">
              <mat-error *ngIf="memberNo.errors?.rangeLength && memberNo.touched">
                Member # limit is from 2 to 80 characters
              </mat-error>
              <mat-error *ngIf="memberNo.errors?.pattern && memberNo.touched && !memberNo.errors?.rangeLength">
                Please enter alphanumeric characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 field-col">
          <div class="input-container">
            <label class="label-text">Patient Last Name</label>
            <mat-form-field class="input-field" hideRequiredMarker="true"
                            floatPlaceholder="never">
              <input matInput placeholder="Enter Patient Last Name" pattern="[a-zA-Z0-9 ]+"
                     name="lastName" #lastName="ngModel" [rangeLength]="[1, 60]"
                     [(ngModel)]="model.patient.lastName" (click)="verifyProvider()">
              <mat-error *ngIf="lastName.errors?.rangeLength && lastName.touched">
                Patient last name limited to 60 characters
              </mat-error>
              <mat-error *ngIf="lastName.errors?.pattern && lastName.touched && !lastName.errors?.rangeLength">
                Please enter alphanumeric characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="field-row row">
        <div class="col-sm-6 col-md-3 field-col">
          <div class="select-container">
            <label class="label-text">Inquiry Type</label>
            <mat-form-field class="select-field" floatPlaceholder="never">
              <mat-select placeholder="-- Select Type --" [(ngModel)]="model.inquirySummaryFilter.inquiryType"
                          id="inquiry-type" name="inquiryInformation" #inquiryInformation="ngModel" >
                <mat-option [value]="inquiryType.id" *ngFor="let inquiryType of inquiryTypes">{{inquiryType.description}}</mat-option>
              </mat-select>
              <!--<mat-error *ngIf="inquiryInformation.errors?.required">-->
                <!--Inquiry information is required-->
              <!--</mat-error>-->
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 field-col">
          <div class="select-container">
            <label class="label-text">Inquiry Status</label>
            <mat-form-field class="select-field" floatPlaceholder="never">
              <mat-select placeholder="-- Select Type --" [(ngModel)]="model.inquirySummaryFilter.inquiryStatus" name="inquiryStatus">
                <mat-option value="PE">Pending</mat-option>
                <mat-option value="CL">Closed</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 field-col">
          <div class="input-container">
            <label class="label-text">Inquiry ID #</label>
            <mat-form-field class="input-field" hideRequiredMarker="true"
                            floatPlaceholder="never">
              <input matInput placeholder="Enter Inquiry ID #" pattern="[0-9]*"
                     name="inquiryId" #inquiryId="ngModel" [rangeLength]="[10, 10]"
                     [(ngModel)]="model.inquirySummaryFilter.inquiryId" (click)="verifyProvider()">
              <mat-error *ngIf="inquiryId.errors?.rangeLength && inquiryId.touched">
                Inquiry ID # should be only 10 numeric characters
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 field-col">
          <div class="input-container">
            <label class="label-text">Claim #</label>
            <mat-form-field class="input-field" hideRequiredMarker="true"
                            floatPlaceholder="never">
              <input matInput placeholder="Enter Claim #" pattern="^\s*[A-Za-z0-9]+\s*$"
                     name="claimId" #claimId="ngModel" [rangeLength]="[1, 50]"
                     [(ngModel)]="model.inquirySummaryFilter.claimId" (click)="verifyProvider()">
              <mat-error *ngIf="claimId.errors?.rangeLength && claimId.touched">
                Claim # limited to 50 characters
              </mat-error>
              <mat-error *ngIf="claimId.errors?.pattern && claimId.touched && !claimId.errors?.rangeLength">
                Please enter alphanumeric characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <!-- Filter Options - Ends ----------------------------------------------- -->

    <!-- Submit Button - Starts ----------------------------------------------- -->
    <div class="btn-block">
      <button #submitBtn mat-button class="blue-btn submit" [disabled]="validateForm() ||
            dateMsgProviderFrom || dateMsgProviderTo || (fromDate > toDate) || memberNo.errors || lastName.errors ||
            inquiryId.errors || claimId.errors" (click)="saveInquiry()" type="button">Submit</button>
    </div>
    <!-- Submit Button - Ends ----------------------------------------------- -->

  </form>
</div>
