version: 2
jobs:
  build:
    working_directory: ~/healthenet-ui
    docker:
      - image: circleci/node:6
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: install-dependencies
          command: sudo npm install
      - run:
          name: Check current version of node
          command: node -v
      - run:
           name: Download the AWS Command Line Interface
           command: |
             curl "https://d1vvhvl2y92vvt.cloudfront.net/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
             unzip awscliv2.zip
      - run:
          name: Install AWS Cli
          command: sudo ./aws/install
      - run:
          name: Check current version of AWS
          command: /usr/local/bin/aws2 --version
      - run:
           name: Configure AWS CLI
           command: |
             aws2 configure set aws_access_key_id $aws_access_key_id
             aws2 configure set aws_secret_access_key $aws_secret_access_key
             aws2 configure set default.region us-east-1
      - run:
           name: Logging into ECR
           command: eval $(aws2 ecr get-login --no-include-email --region us-east-1)
      - run:
          name: install-angular
          command: sudo npm install -g @angular/cli@1.0.0-beta.33.1
      - run:
          name: install sshpass
          command: sudo apt-get install sshpass
      - run:
          name: angular-build
          command: sudo ng build
      - run:
           name: UI build
           command: docker build -t 055638961298.dkr.ecr.us-east-1.amazonaws.com/ejaz/healthenet-ui:$CIRCLE_BUILD_NUM .
      - run:
           name: UI push
           command: docker push 055638961298.dkr.ecr.us-east-1.amazonaws.com/ejaz/healthenet-ui:$CIRCLE_BUILD_NUM 
      - run:
          name: Fix ssh Could not resolve hostname
          command: ssh-keyscan ubuntu@52.90.159.235 >> ~/.ssh/known_hosts
      - add_ssh_keys:
         fingerprints:
           - "09:b0:0d:a5:5c:01:87:52:c5:40:a9:e0:47:71:92:73"
      - run:
          name: SSH to instance
          command: ssh -o StrictHostKeyChecking=no centos@52.91.191.112 && sudo yum -y update
      - run: echo "hello world" # run the `echo` command
