version: 2
jobs:
  build:
    working_directory: ~/healthenet-ui
    docker:
      - image: circleci/node:6
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: install-dependencies
          command: sudo npm install
      - run:
          name: Check current version of node
          command: node -v
      - run:
           name: Download the AWS Command Line Interface
           command: |
             curl "https://d1vvhvl2y92vvt.cloudfront.net/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
             unzip awscliv2.zip
      - run:
          name: Install AWS Cli
          command: sudo ./aws/install
      - run:
          name: Check current version of AWS
          command: /usr/local/bin/aws2 --version
      - run:
           name: Configure AWS CLI
           command: |
             aws2 configure set aws_access_key_id $aws_access_key_id
             aws2 configure set aws_secret_access_key $aws_secret_access_key
             aws2 configure set default.region us-east-1
      - run:
           name: Logging into ECR for image
           command: eval $(aws2 ecr get-login --no-include-email --region us-east-1)
      - run:
          name: install-angular docker
          command: sudo npm install -g @angular/cli@1.0.0-beta.33.1
      - run:
          name: install sshpass
          command: sudo apt-get install sshpass
      - run:
          name: angular-build
          command: sudo ng build
      - run:
           name: UI build
           command: docker build -t 055638961298.dkr.ecr.us-east-1.amazonaws.com/ejaz/healthenet-ui:$CIRCLE_BUILD_NUM .
      - run:
           name: UI push from AWS
           command: docker push 055638961298.dkr.ecr.us-east-1.amazonaws.com/ejaz/healthenet-ui:$CIRCLE_BUILD_NUM 
      
      - add_ssh_keys:
         fingerprints:
           - "f0:e2:b2:be:50:ed:29:b1:86:93:06:2c:d9:f8:71:76"
           
      - run: echo $REMOTE_HOSTKEY >> ~/.ssh/known_hosts
     
      - run:
          name: SSH to instance for deployment v5
          command: ssh -t -oStrictHostKeyChecking=no -L 4321:192.187.98.11:22 jb@192.187.98.12 "./deploy-ui.sh $CIRCLE_BUILD_NUM 1"
      - run:
          name: Display Time & Date show v5
          command: date
