<div class="top-row">
  <h1 class="main-heading">Eligibility Inquiry</h1>
</div>
<div class="main-right-section">
  <!-- Select Payer - Drop down - Start ----------------------------------------------- -->
  <div class="title-row row">
    <div class="col-xs-2 col-sm-2 col-md-1 no-padding">
      <h2 class="sub-heading">Payer <span class="star">*</span></h2>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-5 no-padding">
      <mat-form-field class="select-field" floatPlaceholder="never">
        <mat-select placeholder="-- Select Payer --" name="userPayer" id="payer-list"
                    [(ngModel)]="model.userPayer" #userPayer="ngModel" required
                    (change)="updatePayer(model.userPayer)">
          <mat-option *ngFor="let payer of payerList | sortBy : 'displayName', let i= index"
                      [value]="payer.payerId">{{ payer.displayName }}</mat-option>
          <mat-option value="-1" *ngIf="enableAllPayers === true">All Payers (Except Nova, Yourcare, Medicaid)</mat-option>
        </mat-select>
        <mat-error *ngIf="userPayer.errors?.required">
          Payer is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xs-2 col-sm-4 col-md-6 no-padding">
      <div class="tip-sheet">
      <div (click)="navigateToTip()"> Tip Sheet</div>
      </div>
    </div>
  </div>
  <!-- Select Payer - Drop down - End ----------------------------------------------- -->

  <!-- Requesting Provider Selection - Starts ----------------------------------------------- -->
  <div class="requesting-provider" [hidden]="!model.isRequestingProvider || selectedPayerName.toUpperCase() === medicaidPayerName">
    <div class="title-row row">
      <div class="col-xs-6 col-sm-6 col-md-6 no-padding">
        <h2 class="sub-heading">Provider</h2>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 search-box" *ngIf="userRole === 'PRACTICE_OFFICE_USER' || practiceOfficeUserMode">
        <button mat-button class="blue-btn search-btn common-search" type="button" id="search-button"
                (click)="searchProvidersByClick()">Search</button>
        <div class="input-container">
          <mat-form-field class="input-field" hideRequiredMarker="true" floatPlaceholder="never">
            <input matInput type="text" placeholder="Search" class="common-search"
                   (keyup)="searchProviders($event)" [(ngModel)]="keyword">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div  class="{{tabClass}}">
      <mat-tab-group class="toggle-tabs" (selectChange)="checkRecent()" [selectedIndex]="selectedTabIndex">
        <mat-tab label="All"></mat-tab>
        <mat-tab label="Recent Providers"></mat-tab>
      </mat-tab-group>
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           class={{tableClass}}>
      <thead>
      <tr *ngIf="userRole === 'PRACTICE_OFFICE_USER' || practiceOfficeUserMode">
        <th>Payer ID</th>
        <th>First Name</th>
        <th >Last Name </th>
        <th>Tax ID</th>
        <th>NPI </th>
        <th class="large-col">Address</th>
        <th>City</th>
        <th class="small-col">State</th>
        <th>Zip Code</th>
        <th>Taxonomy</th>
      </tr>
      <tr *ngIf="userRole === 'PAYER_USER' && !practiceOfficeUserMode">
        <th>
                <span class="intable-search">Payer ID
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.providerId"  /></span>
        </th>
        <th>
                <span class="intable-search">First Name
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.firstName"  /></span>
        </th>
        <th>
                <span class="intable-search">Last Name
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.lastName" /></span>
        </th>
        <th>
              <span class="intable-search">Tax ID
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.taxId" /></span>
        </th>
        <th class="large-col">
              <span class="intable-search">NPI
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.npi" /></span>
        </th>
        <th>
              <span class="intable-search">Address
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.serviceAddressLine1" /></span>
        </th>
        <th class="small-col">
              <span class="intable-search">City
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.serviceCity" /></span>
        </th>
        <th class="small-col">
              <span class="intable-search">State
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.serviceState" /></span>
        </th>

        <th class="small-col">
              <span class="intable-search">Zip Code
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.serviceZip" /></span>
        </th>
        <th>
              <span class="intable-search">Taxonomy
                <input (keyup)="searchProvidersByPayer($event)" class="intable-input common-search" type="text" [(ngModel)]="searchedProvider.taxonomy" /></span>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="providerList">
      <tr *ngFor="let provider of providerList  | sortBy : 'lastName'" style="cursor:pointer"
          [ngClass]="{'highlighted': provider.providerId === selectedProviderId && provider.serviceAddressLine1 === selectedAddress  }"
          (click)="selectProvider(provider.providerId, provider.serviceAddressLine1)">
        <td>{{ provider.providerId? provider.providerId : '. . . . . . .'}}</td>
        <td>{{ provider.firstName? provider.firstName : '. . . . . . .'}}</td>
        <td>{{ provider.lastName? provider.lastName : '. . . . . . .' }}</td>
        <td>{{ provider.taxId? provider.taxId : '. . . . . . .' }}</td>
        <td>{{ provider.npi? provider.npi : '. . . . . . .' }}</td>
        <td>{{ provider.serviceAddressLine1 + provider.serviceAddressLine2? provider.serviceAddressLine1 + ' ' + provider.serviceAddressLine2 : '. . . . . . .' }}</td>
        <td>{{ provider.serviceCity? provider.serviceCity : '. . . . . . .' }}</td>
        <td>{{ provider.serviceState? provider.serviceState : '. . . . . . .' }}</td>
        <td>{{ provider.serviceZip? (provider.serviceZip | zipCodeMask) : '. . . . . . .' }}</td>
        <td>{{ provider.taxonomy? provider.taxonomy : '. . . . . . .' }}</td>
      </tr>
      </tbody>
    </table>
    <!--*ngIf="providerList.length > 0"-->
    <div class="new-custom-pagination" *ngIf="totalPages >= 2" >
      <div class="pagination-info">
        <label>Items per page
          <mat-form-field class="page-dropdown" floatPlaceholder="never">
            <mat-select placeholder="{{pageSize}}" (change)="updatePageSize($event)"
                        [(ngModel)]="pageSize">
              <mat-option value="100">100</mat-option>
              <mat-option value="250">250</mat-option>
              <mat-option value="500">500</mat-option>
              <mat-option value="750">750</mat-option>
              <mat-option value="1000">1000</mat-option>
            </mat-select>
          </mat-form-field>
        </label>
        <label>
          Showing <span class="per-page">{{currentOffset + 1}}</span>  of  <span class="total">{{totalPages === 0 ? 1 : totalPages}}</span>
        </label>
      </div>
      <div class="numbers">
        <button (click)="prevPage(preClass)" [ngClass]="preClass">
          <svg fill="#0c747d" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
        <button (click)="nextPage(nextClass)" [ngClass]="nextClass">
          <svg fill="#0c747d" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
      </div>
    </div>

    <button mat-button class="blue-btn not-in-list" [ngClass]="{'pressed': notInList === true }"
            id="provider-not-button" (click)="providerNot()"><span class="tick"></span>Provider not in list
    </button>

    <span class="provider-hint">
            (Please select a provider from the list. If provider is not present
            click the 'Provider not in list' button)
          </span>
  </div>
  <div class="provider-msg">
  <span *ngIf="showProviderMessage">Please select a requesting provider</span>
  </div>
  <!-- Requesting Provider Selection - End ----------------------------------------------- -->
  <form  name="inquiryForm" #inquiryForm="ngForm" novalidate >
    <!-- Member Information - Starts ----------------------------------------------- -->

    <div class="fields-container" [hidden]="selectedPayerName.toUpperCase() === medicaidPayerName">
      <h2 class="sub-heading">{{ memberOrSubscriber }} </h2>
      <div class="information">
        <span class="info-icon" (click)="model.memberInfo = !model.memberInfo"><img src="/assets/images/info.png" alt="info"/> </span>
        <div class="info-parah" [ngClass]="{'show' : (model.memberInfo), '': (false)}">Please enter at least 2 of the following: Member #, Name(First & Last), DOB, or SSN<br/>For payer specific rules, please review payer tip sheets</div>
      </div>
      <div class="field-row row">
        <div class="col-sm-6 col-md-4 field-col">
          <div class="input-container">
            <label class="label-text">Member #</label>
            <mat-form-field class="input-field" hideRequiredMarker="true"
                            floatPlaceholder="never">
              <input matInput placeholder="Enter Member Number" pattern="^\s*[A-Za-z0-9]+\s*$"
                     id="member" name="member" #member="ngModel" [rangeLength]="[2, 80]"
                     (change)="verifyProvider($event)" [(ngModel)]="model.member">
              <mat-error *ngIf="member.errors?.rangeLength && member.touched">
                Member # limit is from 2 to 80 characters
              </mat-error>
              <mat-error *ngIf="member.errors?.pattern && member.touched">
                Please enter Alphanumeric characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 field-col">
          <div class="input-container">
            <label class="label-text">First Name</label>
            <mat-form-field class="input-field" hideRequiredMarker="true" floatPlaceholder="never">
              <input matInput placeholder="Enter First Name"  [rangeLength]="[1, 35]" (change)="verifyProvider($event)"
                     id="first-name" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel">
              <mat-error *ngIf="firstName.errors?.rangeLength && firstName.touched">
                First name limited to 35 characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 field-col">
          <div class="input-container">
            <label class="label-text">Last Name</label>
            <mat-form-field class="input-field" hideRequiredMarker="true" floatPlaceholder="never">
              <input matInput placeholder="Enter Last Name"  [rangeLength]="[1, 60]" (change)="verifyProvider($event)"
                     id="last-name" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel">
              <mat-error *ngIf="lastName.errors?.rangeLength && lastName.touched">
                Last name limited to 60 characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 field-col">
          <div class="calendar-container">
            <label class="label-text">Date of Birth</label>
            <mat-form-field class="calendar-field" floatPlaceholder="never" hideRequiredMarker="true">
              <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY"
                     name="dateOfBirth" [(ngModel)]="model.dateOfBirth" #dateOfBirth="ngModel"
                     [max]="maxDate" [min]="minDate" maxlength="10" (blur)="validateDateS($event)"
                     (keydown)="handledate($event)" id="date-Of-birth"
                     (dateChange)="picker.close(); dateErrSubscriber = false;">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
              <span class="custom-invalid" *ngIf="dateErrSubscriber">{{dateMsgSubscriber}}</span>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 field-col">
          <div class="input-container">
            <label class="label-text">SSN</label>
            <mat-form-field type="number" class="input-field" hideRequiredMarker="true" floatPlaceholder="never">
              <input id="SSN" matInput placeholder="Enter SSN"  maxlength="11"
                     (keydown)="handleSSN($event)" pattern="^(\d{3}-?\d{2}-?\d{4}|XXX-XX-XXXX)$"
                     #ssn="ngModel" name="ssn" [(ngModel)]="model.ssn">
              <mat-error *ngIf="ssn.errors?.pattern">
                SSN must be numeric and in format : 000-00-0000
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="field-row row">
        <div class="col-sm-6 col-md-4 field-col">
          <div class="radio-container">
            <label class="label-text">Gender</label>
            <mat-radio-group class="radio-btns" [(ngModel)]="model.gender" name="gender" id="gender" (change)="verifyProvider($event)">
              <mat-radio-button value="M">Male</mat-radio-button>
              <mat-radio-button value="F">Female</mat-radio-button>
            </mat-radio-group>
            <span class="refresh-icon" (click)="model.gender = null"></span>
          </div>
        </div>
      </div>
      <span class="error-msg"> {{ memberError }}</span>
    </div>

    <div class="fields-container" *ngIf="selectedPayerName.toUpperCase() === medicaidPayerName">
      <h2 class="sub-heading"> Requesting Provider  </h2>

      <div class="field-row row">
        <div class="col-sm-6 col-md-4 field-col">
          <div class="input-container">
            <label class="label-text">NPI <span style="color:red">*</span></label>
            <mat-form-field class="input-field" hideRequiredMarker="true"
                            floatPlaceholder="never">
              <input matInput placeholder="Enter NPI" pattern="[0-9]*"
                     name="medicaidNPI" #medicaidNPI="ngModel" minlength="10" maxlength="10"
                     [(ngModel)]="medicaidNpi">
              <mat-error *ngIf="medicaidNPI.errors?.required && medicaidNPI.touched">
                NPI is required.
              </mat-error>
              <mat-error *ngIf="medicaidNPI.errors?.minlength && medicaidNPI.touched">
                NPI should be of 10 characters.
              </mat-error>
              <mat-error *ngIf="medicaidNPI.errors?.pattern && medicaidNPI.touched">
                Please enter numeric characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </div>

    </div>
    <div class="fields-container" *ngIf="selectedPayerName.toUpperCase() === medicaidPayerName">
      <h2 class="sub-heading"> Member  </h2>

      <div class="field-row row">
        <div class="col-sm-6 col-md-4 field-col">
          <div class="input-container">
            <label class="label-text">Member # <span style="color:red">*</span></label>
            <mat-form-field class="input-field" hideRequiredMarker="true"
                            floatPlaceholder="never">
              <input matInput placeholder="Enter Member Number" pattern="^\s*[A-Za-z0-9]+\s*$"
                     name="medicaidMember" #medicaidMember="ngModel" [rangeLength]="[2, 10]" maxlength="10"
                     [(ngModel)]="medicaidMemberNo">
              <mat-error *ngIf="medicaidMember.errors?.required && medicaidMember.touched">
                Member # is required.
              </mat-error>
              <mat-error *ngIf="medicaidMember.errors?.rangeLength && medicaidMember.touched">
                Member # should be 2 to 10 characters.
              </mat-error>
              <mat-error *ngIf="medicaidMember.errors?.pattern && medicaidMember.touched">
                Please enter Alphanumeric characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </div>

    </div>
    <!-- Member Information - Ends ----------------------------------------------- -->

    <!-- Dependent Section - Starts ----------------------------------------------- -->
    <div class="fields-container" *ngIf="memberOrSubscriber === 'Subscriber' && selectedPayerName.toUpperCase() !== medicaidPayerName">
      <h2 class="sub-heading">Dependent</h2>
      <div class="information">
        <span class="info-icon" (click)="model.dependentInfo = !model.dependentInfo"><img src="/assets/images/info.png" alt="info"/> </span>
        <div class="info-parah" [ngClass]="{'show' : (model.dependentInfo), '': (false)}">If specifying a dependent, please enter at least Name(First & Last) and DOB</div>
      </div>
      <div class="field-row row">
        <div class="col-sm-6 col-md-4 field-col">
          <div class="input-container">
            <label class="label-text">First Name </label>
            <mat-form-field class="input-field" hideRequiredMarker="true" floatPlaceholder="never">
              <input matInput placeholder="Enter First Name"  [rangeLength]="[1, 35]"
                     id="first-name-dependent" name="firstNameDependent" [(ngModel)]="model.firstNameDependent"
                     #firstNameDependent="ngModel" (click)="checkSubscriber()">
              <mat-error *ngIf="firstNameDependent.errors?.rangeLength && firstNameDependent.touched">
                First name limited to 35 characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 field-col">
          <div class="input-container">
            <label class="label-text">Last Name</label>
            <mat-form-field class="input-field" hideRequiredMarker="true" floatPlaceholder="never">
              <input matInput placeholder="Enter Last Name"  [rangeLength]="[1, 60]" id="last-name-dependent"
                     name="lastNameDependent" [(ngModel)]="model.lastNameDependent" #lastNameDependent="ngModel" (click)="checkSubscriber()">
              <mat-error *ngIf="lastNameDependent.errors?.rangeLength && lastNameDependent.touched">
                Last name limited to 60 characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 field-col">
          <div class="calendar-container">
            <label class="label-text">Date of Birth</label>
            <mat-form-field class="calendar-field" floatPlaceholder="never" hideRequiredMarker="true">
              <input matInput [matDatepicker]="picker1" placeholder="MM/DD/YYYY"
                     name="dateOfBirthDependent" [(ngModel)]="model.dateOfBirthDependent" #dateOfBirthDependent="ngModel"
                     [max]="maxDate" [min]="minDate" id="date-of-birth-dependent"
                     maxlength="10" (blur)="validateDateD($event)"
                     (keydown)="handledate($event)"
                     (dateChange)="picker1.close(); dateErrDependent = false;" (click)="checkSubscriber()">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 ></mat-datepicker>
              <span class="custom-invalid" *ngIf="dateErrDependent">{{dateMsgDependent}}</span>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="field-row row">
        <div class="col-sm-6 col-md-4 field-col">
          <div class="radio-container">
            <label class="label-text">Gender</label>
            <mat-radio-group class="radio-btns" [(ngModel)]="model.genderDependent" name="genderDependent"
                             id="gender-dependent" (click)="checkSubscriber()">
              <mat-radio-button value="M">Male</mat-radio-button>
              <mat-radio-button value="F">Female</mat-radio-button>
            </mat-radio-group>
            <span class="refresh-icon" (click)="model.genderDependent = null"></span>
          </div>
        </div>
      </div>
      <span class="error-msg"> {{ dependentError }}</span>
    </div>
    <!-- Dependent Section - Ends ----------------------------------------------- -->

    <!-- Service Type - Starts ----------------------------------------------- -->
    <div class="fields-container">
      <h2 class="sub-heading">Service Type</h2>
      <div class="field-row row">
        <div class="col-sm-6 col-md-4 field-col">
          <div class="calendar-container">
            <label class="label-text">Eligibility Date</label>
            <mat-form-field class="calendar-field" floatPlaceholder="never" hideRequiredMarker="true">
              <input matInput [matDatepicker]="picker2" placeholder="MM/DD/YYYY"
                     name="eligibilityDate" [(ngModel)]="model.eligibilityDate" #eligibilityDate="ngModel"
                     [min]="minDate" mask="00/00/0000" maxlength="10" (blur)="validateDateEligibility($event)"
                     (keydown)="handledate($event)" id="eligibility-date"
                     (dateChange)="picker2.close(); dateErrEligibility = false;"
                     (click)="checkSubscriber()" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 ></mat-datepicker>
              <mat-error *ngIf="eligibilityDate.errors?.required && eligibilityDate.touched && !dateErrEligibility">
                Eligibility Date is required
              </mat-error>
              <span class="custom-invalid" *ngIf="dateErrEligibility">{{dateMsgEligibility}}</span>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 field-col">
          <div class="select-container">
            <label class="label-text">Service</label>
            <mat-form-field class="select-field multi-select" floatPlaceholder="never"
                            *ngIf="serviceLimit1 === true">
              <mat-select name="services" placeholder="-- Select Service --" id="services-single"
                          [(ngModel)]="model.services" #services="ngModel" required >
                <mat-option *ngFor="let service of sortedServiceArray, let i= index"
                            [value]="service.systemCode">{{service.benefitName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="services.errors?.required && services.touched">
                Please select at least 1 service line.
              </mat-error>
              <mat-hint>Please select a single service type. </mat-hint>
            </mat-form-field>


            <mat-form-field class="select-field multi-select" floatPlaceholder="never"
                            *ngIf="serviceLimit1 === false">
              <mat-select name="services" multiple placeholder="-- Select Services --" id="services-multiple"
                          [(ngModel)]="model.services" #services="ngModel" required>
                <mat-option #s *ngFor="let service of sortedServiceArray, let i= index"
                            [value]="service.systemCode" [disabled]="model.services.length >= 10 && !s.selected">{{service.benefitName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="services.errors?.required && services.touched">
                Please select at least 1 service line.
              </mat-error>
              <mat-hint>Please select between 1 and 10 service types. </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <!-- Service Type - Ends ----------------------------------------------- -->

    <!-- Disclaimer - Starts ----------------------------------------------- -->
    <div class="fields-container">
      <h2 class="sub-heading">Disclaimer</h2>
      <p class="dis-text">
        The response to your search is based upon the patient information you provide and the eligibility information in our records as of this date. It is not a guarantee of payment. Benefits are subject to all plan provisions regarding medical necessity, coordination of benefits, quality improvement and utilization management programs, as well as patient eligibility on dates of services.
      </p>
      <button *ngIf="selectedPayerName.toUpperCase() !== medicaidPayerName" #submitBtn id="submit-button" mat-button class="blue-btn submit" [disabled]="validateForm() ||
          member.errors || firstName.errors || lastName.errors || dateErrSubscriber || dateErrDependent ||
          dateErrEligibility || ssn.errors" (click)="saveInquiry()"
              type="button">Submit</button>

      <button *ngIf="selectedPayerName.toUpperCase() === medicaidPayerName" #submitBtn id="submit-button" mat-button class="blue-btn submit" [disabled]="validateMedicaidForm()"  (click)="saveMedicaidInquiry()"
              type="button">Submit</button>
    </div>


    <!-- Disclaimer - Ends ----------------------------------------------- -->

  </form>
</div>
