<div  class="new-custom-pagination dont-print" id="pager"  *ngIf="totalPages > 0">
  <div class="pagination-info">
    <label>Items per page
      <mat-form-field  class="page-dropdown" floatPlaceholder="never">
        <mat-select placeholder="{{this.pageSize}}" (change)="updatePageSize($event)"
                    [(ngModel)]="this.pageSize">
          <mat-option value="50">50</mat-option>
          <mat-option value="100">100</mat-option>
          <mat-option value="250">250</mat-option>
          <mat-option value="500">500</mat-option>
        </mat-select>
      </mat-form-field>
    </label>
    <label>
      Showing <span class="per-page">{{this.currentOffset + 1}}</span>  of  <span class="total">{{this.totalPages === 0 ? 1 : this.totalPages}}</span>
    </label>
  </div>
  <div class="numbers">

    <mat-form-field class="page-dropdown" style="width:50px" floatPlaceholder="never">
      <mat-select placeholder="-- Select Page --"
                  [(ngModel)]="ddlNo" (change)="changeCurrentPage($event)">
        <mat-option *ngFor="let page of pages ; let i = index" [value]="page">
          {{page}}
        </mat-option>
      </mat-select>

    </mat-form-field>
  </div>
</div>

