<div class="login-container">
    <div class="top-bar"></div>
    <div class="login-inner">
        <h1 class="login-heading">Login</h1>

        <p class="login-parah">Please Enter your Login ID to continue.</p>

        <div class="login-box">
            <form (ngSubmit)="f.form.valid && login()" name="loginForm" #f="ngForm" novalidate>
                <div class="input-container">
                    <label class="label-text">Login ID<span class="star">*</span></label>
                    <mat-form-field class="input-field" hideRequiredMarker="true" floatPlaceholder="never">
                      <span class="user-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                            <path id="Rectangle_1383_copy_6" data-name="Rectangle 1383 copy 6" class="cls-1"
                                  d="M2186,944c0,0.077-.01.153-0.01,0.229-0.19-.052-0.38-0.09-0.57-0.128a0.995,0.995,0,0,1-.42,1.9h-26a1,1,0,0,1,0-2h-1a13.99,13.99,0,0,1,8.05-12.66,8,8,0,1,1,11.9,0A13.99,13.99,0,0,1,2186,944Zm-9.77-11.219a8.019,8.019,0,0,1-1.23.614v-3.029c0.29,0.064.58,0.106,0.87,0.187a6,6,0,1,0-7.74,0c0.29-.081.58-0.123,0.87-0.187V933.4a8.019,8.019,0,0,1-1.23-.614A11.99,11.99,0,0,0,2160,944h24A11.99,11.99,0,0,0,2176.23,932.781Z"
                                  transform="translate(-2158 -918)"/>
                        </svg>
                      </span>
                        <input #name="ngModel" [(ngModel)]="model.userName" autocomplete="off" placeholder="Enter Login ID" name="userName" matInput required>
                        <mat-error *ngIf="name.errors?.required && name.touched">Login ID is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn-box">
                    <button mat-button [disabled]="!f.valid" class="blue-btn">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-box">
        <p class="footer-text">&copy; 2018 - WNYHealtheNet LLC.</p>
    </div>
</div>

