@import "~assets/scss/colors";
@import "~assets/scss/variables";

.main-right-section{
  .fields-container{
    .region-list{
      display: flex;
      flex-wrap: wrap;
      .single-region{
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid $field-border;
        border-radius: $toggle-tabs-radius;
        padding: 0px 15px;
        .check-input{
          .mat-checkbox-layout{
            height: 37px;
            margin: 0;
            .mat-checkbox-label{
              line-height: 37px;
            }
          }
        }
        .check-text{
          font-weight: normal;
          font-family: 'futura_ltbook';
          display: inline;
          font-size: 12px;
          cursor: pointer;
        }
        &.highlighted{
          border: 1px solid $active-field-border;
          box-shadow: $active-input-shadow;
        }
      }
    }
    .permission-list{
      display: flex;
      flex-wrap: wrap;
      padding: 0 15px;
      .single-permission{
        min-width: 25%;
        @media only screen and ($tablet8){
          min-width: 50%;
        }
      }
    }
  }
}