.report-view-section .heading-top {
    display: inline-block;
    width: 100%;
}
.report-view-section .with-toggle {
    float: left;
}
.report-view-section .toggle-container {
    margin-top: 10px;
    float: right;
    padding-bottom: 0;
}
.report-view-section .sub-heading {
    margin-bottom: 20px;
}
.report-view-section .btn-block {
    margin: 30px 0 20px;
    display: flex;
}
.report-view-section .btn-block .white-btn {
    margin-right: 10px;
    min-width: 20px !important;
    padding: 0 15px;
}
.report-view-section .btn-block .white-btn span {
    width: 30px;
}
.report-view-section .btn-block .white-btn span svg {
    width: 13px;
    height: 20px;
    float: left;
    fill: #3e3e3e;
}
.report-view-section .btn-block .white-btn.delete-report {
    min-width: 15px !important;
    padding: 0 10px;
}
.report-view-section .btn-block .white-btn.delete-report svg {
    width: 22px;
    fill: #3e3e3e;
}
@page {
    margin: 20px;
}
@media print {
    .dont-print, .dont-print * {
        display: none !important;
    }

    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .label {
        border: none;
    }

    .view-input .mat-input-element {
        color: #3e3e3e !important;
    }

    .view-input .mat-form-field-placeholder {
        color: #848687 !important;
    }

    .report-view-section {
        padding-bottom: 20px;
    }
    .report-view-section .heading-top {
        padding-left: 20px !important;
    }
    .report-view-section .with-toggle {
        float: left;
    }
    .report-view-section .toggle-container {
        display: none !important;
    }
    .report-view-section .btn-block {
        display: none !important;
    }

    .custom-collapsible-table {
        -webkit-print-color-adjust: exact !important;
        border: 1px solid #e5e9ec !important;
        border-radius: 5px;
        font-family: "futura_ltbook";
        font-size: 13px;
    }
    .custom-collapsible-table .collapsible-head {
        background-color: #006276 !important;
        display: flex;
        height: 52px;
        border-radius: 5px 5px 0 0;
    }
    .custom-collapsible-table .collapsible-head .cp-th {
        color: #fff !important;
        align-self: center;
        padding: 0 15px;
    }
    .custom-collapsible-table .empty-row {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff !important;
    }
    .custom-collapsible-table .cp-3rd-level-row {
        display: flex;
        color: #006276 !important;
        min-height: 45px;
    }
    .custom-collapsible-table .cp-3rd-level-row .cp-td {
        align-self: center;
        padding: 5px 15px;
        font-weight: 600;
    }
    .custom-collapsible-table .collapsible-body {
        background: #fff !important;
    }
    .custom-collapsible-table .collapsible-body .cp-row .empty-row {
        padding: 15px;
        text-align: center;
    }
    .custom-collapsible-table .collapsible-body .cp-row.expandable {
        flex-direction: column;
        cursor: pointer;
    }
    .custom-collapsible-table .collapsible-body .cp-row.expandable .cp-td:first-child::before {
        content: "";
        background: url("/assets/images/expand-arrow.svg") no-repeat !important;
        display: inline-block;
        width: 12px;
        height: 8px;
        background-size: 100% !important;
        margin-right: 10px;
        transform: rotate(90deg);
        float: left;
        margin-top: 5px;
    }
    .custom-collapsible-table .collapsible-body .cp-row .cp-td {
        padding: 5px 15px;
        font-size: 12px;
        align-self: center;
    }
    .custom-collapsible-table .collapsible-body .cp-row:nth-of-type(odd) {
        background: #f9fafc !important;
    }
    .custom-collapsible-table .collapsible-body .cp-row .cp-row-inner {
        display: flex;
        min-height: 45px;
    }
    .custom-collapsible-table .collapsible-body .cp-row .cp-inner-table {
        background: #ebeef0 !important;
        display: none;
    }
    .custom-collapsible-table .collapsible-body .cp-row .cp-inner-table .cp-inner-row {
        min-height: 45px;
        display: flex;
    }
    .custom-collapsible-table .collapsible-body .cp-row .cp-inner-table .cp-inner-row .cp-inner-td {
        padding: 5px 15px;
        align-self: center;
    }
    .custom-collapsible-table .collapsible-body .cp-row .cp-inner-table .cp-inner-row .cp-inner-td:first-child {
        padding-left: 37px;
    }
    .custom-collapsible-table .collapsible-body .cp-row.open .cp-row-inner {
        background: #ebeef0 !important;
        border-bottom: 1px solid #ccc !important;
        font-weight: 600;
    }
    .custom-collapsible-table .collapsible-body .cp-row.open .cp-inner-table {
        display: block;
    }
    .custom-collapsible-table .collapsible-body .cp-row.open .cp-td:first-child {
        color: #006276 !important;
    }
    .custom-collapsible-table .collapsible-body .cp-row.open .cp-td:first-child::before {
        transform: rotate(180deg);
    }
    .custom-collapsible-table .collapsible-body .cp-row.open.shut .cp-row-inner {
        display: flex;
        min-height: 45px;
        font-weight: normal;
        background-color: transparent !important;
    }
    .custom-collapsible-table .collapsible-body .cp-row.open.shut .cp-inner-table {
        background: #ebeef0 !important;
        display: none;
    }
    .custom-collapsible-table .collapsible-body .cp-row.open.shut .cp-inner-table .cp-inner-row {
        min-height: 45px;
        display: flex;
    }
    .custom-collapsible-table .collapsible-body .cp-row.open.shut .cp-inner-table .cp-inner-row .cp-inner-td {
        padding: 5px 15px;
        align-self: center;
    }
    .custom-collapsible-table .collapsible-body .cp-row.open.shut .cp-inner-table .cp-inner-row .cp-inner-td:first-child {
        padding-left: 37px;
    }
    .custom-collapsible-table .collapsible-body .cp-row.open.shut .cp-td:first-child {
        color: #3e3e3e !important;
    }
    .custom-collapsible-table .collapsible-body .cp-row.open.shut .cp-td:first-child::before {
        transform: rotate(90deg);
    }
    .custom-collapsible-table .collapsible-body .cp-row.open.shut:nth-of-type(odd) {
        background: #f9fafc !important;
    }
    .custom-collapsible-table .grand-total .cp-row-inner {
        display: flex;
        height: 50px;
        background: #fff !important;
        border-top: 1px solid #006276 !important;
    }
    .custom-collapsible-table .grand-total .cp-row-inner .cp-td {
        align-self: center;
        padding: 5px 15px;
    }
    .custom-collapsible-table .width5 {
        width: 5%;
    }
    .custom-collapsible-table .width10 {
        width: 10%;
    }
    .custom-collapsible-table .width15 {
        width: 15%;
    }
    .custom-collapsible-table .width20 {
        width: 20%;
    }
    .custom-collapsible-table .width25 {
        width: 25%;
    }
    .custom-collapsible-table .width30 {
        width: 30%;
    }
    .custom-collapsible-table .width35 {
        width: 35%;
    }
    .custom-collapsible-table .width40 {
        width: 40%;
    }
    .custom-collapsible-table .width45 {
        width: 45%;
    }
    .custom-collapsible-table .width50 {
        width: 50%;
    }
    .custom-collapsible-table .width55 {
        width: 55%;
    }
    .custom-collapsible-table .width60 {
        width: 60%;
    }

    .inner-bordered-table .inner-bordered-head {
        background-color: #ccc !important;
    }
    .inner-bordered-table .inner-bordered-head td {
        font-weight: bold;
        color: #3e3e3e !important;
    }
    .toggle-container{
        display:none;
    }
}

