
<div class="top-row row">
  <div class="col-md-12" id="referral-body">
    <h1 class="main-heading">{{ categoryStatus }}  Status Detail{{referralAuthData?.identifier !=='' ? ' - ':''}}<span>{{referralAuthData?.identifier}}</span></h1>
    <p class="date" *ngIf="transactionData">Date : {{transactionData?.transactionDate | convertStringToDate}} {{transactionData?.transactionTime | time}}<!--{{ currentTime | async | date:'MMMM dd, yyyy hh:mm:ss' }}--></p>
  </div>
</div>
<div class="main-right-section">

  <!-- Referral Response - Starts ----------------------------------------------- -->
  <div class="referral-status-detail">

    <div class="tabs-main-container">
      <div class="custom-tabs-header">
        <div class="head-list">
          <button mat-button (click)="showHideBackToTopButton('false', 1)" class="blue-btn" [ngClass]="{'checked': (1 === selectedTab)}" scrollTo scrollTargetSelector="#requestingProvider" *ngIf="requestingProviderData">Requesting Provider</button>
          <button mat-button (click)="showHideBackToTopButton('false', 2)" class="blue-btn" [ngClass]="{'checked': (2 === selectedTab)}" scrollTo scrollTargetSelector="#referringProvider" *ngIf="referringProviderData">Referring Provider</button>
          <button mat-button (click)="showHideBackToTopButton('false', 3)" class="blue-btn" [ngClass]="{'checked': (3 === selectedTab)}" scrollTo scrollTargetSelector="#serviceProvider" *ngIf="servicingProviderData">Servicing Provider</button>
          <button mat-button (click)="showHideBackToTopButton('false', 4)" class="blue-btn" [ngClass]="{'checked': (4 === selectedTab)}" scrollTo scrollTargetSelector="#member" *ngIf="subscriberData">Member</button>
          <button mat-button (click)="showHideBackToTopButton('false', 5)" class="blue-btn" [ngClass]="{'checked': (5 === selectedTab)}" scrollTo scrollTargetSelector="#referral-details" *ngIf="referralAuthData">Referral Detail</button>
        </div>
      </div>
      <div class="custom-tabs-body">

        <div class="main-container">
          <!-- Referral Information - Starts ----------------------------------------------- -->
          <div class="info-box-container">
            <div class="info-row" *ngIf="payerData">
              <div class="left-box fields-container">
                <div class="input-container">
                  <mat-form-field class="view-input">
                    <input matInput placeholder="Payer Name"
                           value="{{payerData?.name }}" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="right-box fields-container">
                <div class="line" *ngIf="referralAuthData?.identifier">
                  <label class="light-label">{{ categoryCode }} #</label>
                  <label class="right-value">{{referralAuthData?.identifier}}</label>
                </div>
                <div class="line" *ngIf="referralAuthData?.actionCode">
                  <label class="light-label">Action Code</label>
                  <label class="right-value">{{referralAuthData?.actionCode}}</label>
                </div>
                <div class="line" *ngIf="referralAuthData?.decisionReasonCode">
                  <label class="light-label">Decision Reason Code</label>
                  <label class="right-value">{{referralAuthData?.decisionReasonCode}}</label>
                </div>
              </div>
            </div>
          </div>
          <!-- Referral Information - Starts ----------------------------------------------- -->

          <!-- Requesting Provider - Starts ----------------------------------------------- -->
          <div class="requesting-provider-section" *ngIf="requestingProviderData" id="requestingProvider">
            <div class="fields-container">
              <h2 class="sub-heading">
                Requesting Provider
              </h2>
              <div class="field-row row">
                <div class="col-md-6 field-col" *ngIf="requestingProviderData?.name">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Name"
                             value="{{requestingProviderData?.name?.family }}{{requestingProviderData?.name?.given!==''?',':' '}}{{requestingProviderData?.name?.given }}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-3 field-col" *ngIf="requestingProviderData?.providerID">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="NPI"
                             value="{{requestingProviderData?.providerID}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-3 field-col"
                     *ngIf="requestingProviderData?.taxonomyCode">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Taxonomy"
                             value="{{requestingProviderData?.taxonomyCode}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Requesting Provider - Ends ----------------------------------------------- -->
          <!-- Member - Starts ----------------------------------------- -->
          <div class="member-section" *ngIf="subscriberData" id="member">
            <div class="fields-container">
              <h2 class="sub-heading">
                Member
              </h2>
              <div class="field-row row">
                <div class="col-md-4 field-col" *ngIf="subscriberData?.name">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Name"
                             value="{{subscriberData?.name?.family }}{{subscriberData?.name?.given!==''?',':' '}}{{subscriberData?.name?.given }} {{subscriberData?.name?.middle }}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="subscriberData?.memberID">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Subscriber Member ID"
                             value="{{subscriberData?.memberID}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="subscriberData?.dob">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Date of Birth"
                             value="{{subscriberData?.dob | convertStringToDate}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="subscriberData?.memberGender">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Gender"
                             value="{{subscriberData?.memberGender === 'M' ? 'Male' : 'Female'}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Member - Ends ----------------------------------------- -->

          <!-- Dependent - Starts ----------------------------------------- -->
          <div class="member-section" *ngIf="dependentData" id="dependent">
            <div class="fields-container">
              <h2 class="sub-heading">
                Dependent
              </h2>
              <div class="field-row row">
                <div class="col-md-4 field-col" *ngIf="dependentData?.name">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Name"
                             value="{{dependentData?.name?.family }}{{dependentData?.name?.given!==''?',':' '}}{{dependentData?.name?.given }} {{dependentData?.name?.middle }}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="dependentData?.memberID">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Dependent Member ID"
                             value="{{dependentData?.memberID}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="dependentData?.dob">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Date of Birth"
                             value="{{dependentData?.dob | convertStringToDate}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="dependentData?.memberGender">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Gender"
                             value="{{dependentData?.memberGender === 'M' ? 'Male' : 'Female'}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Dependent - Ends ----------------------------------------- -->

          <!-- Servicing Provider - Starts ----------------------------------------- -->
          <div class="servicing-provider-section" *ngIf="servicingProviderData" id="serviceProvider">
            <div class="fields-container">
              <h2 class="sub-heading">
                Servicing Provider
              </h2>
              <div class="field-row row">
                <div class="col-md-4 field-col" *ngIf="servicingProviderData?.name">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Name"
                             value="{{servicingProviderData?.name?.family }}{{servicingProviderData?.name?.given!==''?',':' '}}{{servicingProviderData?.name?.given }}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="servicingProviderData?.npi">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="NPI"
                             value="{{servicingProviderData?.npi}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="servicingProviderData?.taxonomyID">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Taxonomy"
                             value="{{servicingProviderData?.taxonomyID}}" readonly>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-4 field-col"
                     *ngIf="servicingProviderData?.address?.addressLine1 || servicingProviderData?.address?.addressLine2">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Servicing Provider Address"
                             value="{{servicingProviderData?.address?.addressLine1}} {{servicingProviderData?.address?.addressLine2}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-3 field-col"
                     *ngIf="servicingProviderData?.address?.city">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Servicing Provider City"
                             value="{{servicingProviderData?.address?.city}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-3 field-col"
                     *ngIf="servicingProviderData?.address?.state">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Servicing Provider State"
                             value="{{servicingProviderData?.address?.state}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-3 field-col" *ngIf="servicingProviderData?.address?.zip">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Servicing Provider Zip"
                             value="{{servicingProviderData?.address?.zip | zipCodeMask}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div *ngIf="servicingProviderData?.contactInfo">
                  <div class="col-md-4 field-col"
                       *ngFor="let contacts of servicingProviderData?.contactInfo">
                    <div class="input-container" *ngIf="contacts.label || contacts.value">
                      <mat-form-field class="view-input" >
                        <input matInput placeholder="{{contacts.label}}"
                               value="{{contacts?.value | phoneMask}}" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Servicing Provider - Ends ----------------------------------------------- -->
          <!-- Referring Provider - Starts ----------------------------------------------- -->
          <div class="referring-provider-section" *ngIf="referringProviderData" id="referringProvider">
            <div class="fields-container">
              <h2 class="sub-heading">
                Referring Provider
              </h2>
              <div class="field-row row">
                <div class="col-md-4 field-col" *ngIf="referringProviderData?.name?.family || referringProviderData?.name?.given">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Name"
                             value="{{referringProviderData?.name?.family }}{{referringProviderData?.name?.given!==''?',':' '}}{{referringProviderData?.name?.given }}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referringProviderData?.npi">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="NPI"
                             value="{{referringProviderData?.npi}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referringProviderData?.taxonomyID">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Taxonomy"
                             value="{{referringProviderData?.taxonomyID}}" readonly>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-4 field-col"
                     *ngIf="referringProviderData?.address?.addressLine1 || referringProviderData?.address?.addressLine2">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Referring Provider Address"
                             value="{{referringProviderData?.address?.addressLine1}} {{referringProviderData?.address?.addressLine2}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-3 field-col"
                     *ngIf="referringProviderData?.address?.city">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Referring Provider City"
                             value="{{referringProviderData?.address?.city}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-3 field-col"
                     *ngIf="referringProviderData?.address?.state">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Referring Provider State"
                             value="{{referringProviderData?.address?.state}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-3 field-col" *ngIf="referringProviderData?.address?.zip">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Referring Provider Zip"
                             value="{{referringProviderData?.address?.zip | zipCodeMask}}" readonly>
                    </mat-form-field>
                  </div>
                </div>

                <div *ngIf="referringProviderData?.contactInfo">
                  <div class="col-md-4 field-col"
                       *ngFor="let contacts of referringProviderData?.contactInfo">
                    <div class="input-container" *ngIf="contacts.label || contacts.value">
                      <mat-form-field class="view-input">
                        <input matInput placeholder="{{contacts.label}}"
                               value="{{contacts?.value | phoneMask}}" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <!-- Referring Provider - Ends ----------------------------------------------- -->




          <!-- Referral Details - Starts ----------------------------------------- -->
          <div class="referral-details-section" *ngIf="referralAuthData" id="referral-details">
            <div class="fields-container">
              <h2 class="sub-heading" *ngIf="referralAuthData?.categoryCode === 'Specialty Care Review'">
                Referral Detail
              </h2>
              <h2 class="sub-heading" *ngIf="referralAuthData?.categoryCode === 'Health Services Review' || referralAuthData?.categoryCode === 'Admission Review'">
                Authorization Detail
              </h2>
              <div class="field-row row">
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.serviceTypeCode">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Service Type"
                             value="{{referralAuthData?.serviceTypeCode}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.diagnosisCode">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="ICD-10 Diagnosis"
                             value="{{processDiagnosisCode(referralAuthData?.diagnosisCode)}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.eventDate">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Event Date"
                             value="{{referralAuthData?.eventStartDate | convertStringToDate}}{{referralAuthData?.eventEndDate!==''?' - ':''}}{{referralAuthData?.eventEndDate | convertStringToDate}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.admissionDate">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Admission Date"
                             value="{{referralAuthData?.admissionStartDate | convertStringToDate}}{{referralAuthData?.admissionEndDate!==''?' - ':''}}{{referralAuthData?.admissionEndDate | convertStringToDate}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.dischargeDate">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Discharge Date"
                             value="{{referralAuthData?.dischargeStartDate | convertStringToDate}}{{referralAuthData?.dischargeEndDate!==''?' - ':''}}{{referralAuthData?.dischargeEndDate | convertStringToDate}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.certificationIssueDate">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Certification Issue Date"
                             value="{{referralAuthData?.certificationIssueStartDate | convertStringToDate}}{{referralAuthData?.certificationIssueEndDate!==''?' - ':''}}{{referralAuthData?.certificationIssueEndDate | convertStringToDate}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.certificationExpirationDate">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Certification Expiration Date"
                             value="{{referralAuthData?.certificationExpirationStartDate | convertStringToDate}}{{referralAuthData?.certificationExpirationEndDate!==''?' - ':''}}{{referralAuthData?.certificationExpirationEndDate | convertStringToDate}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.certificationEffectiveDate">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Certification Effective Date"
                             value="{{referralAuthData?.certificationEffectiveStartDate | convertStringToDate}}{{referralAuthData?.certificationEffectiveEndDate!==''?' - ':''}}{{referralAuthData?.certificationEffectiveEndDate | convertStringToDate}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.servicesReviewRequestDate">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Services Review Request Date"
                             value="{{referralAuthData?.servicesReviewRequestStartDate | convertStringToDate}}{{referralAuthData?.servicesReviewRequestEndDate!==''?' - ':''}}{{referralAuthData?.servicesReviewRequestEndDate | convertStringToDate}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.providerQuantity">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Provider Quantity"
                             value="{{referralAuthData?.providerQuantity}} {{referralAuthData?.unitTypeCode}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 field-col" *ngIf="referralAuthData?.previousCert">
                  <div class="input-container">
                    <mat-form-field class="view-input">
                      <input matInput placeholder="Previous Cert "
                             value="{{referralAuthData?.previousCert}}"
                             readonly>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Updates on text Area section for IE browser -->
                <div class="col-md-12 field-col" *ngIf="referralAuthData?.message">
                  <div class="textarea-container">
                    <label class="text-label">Message</label>
                    <label class="label-text"> {{referralAuthData?.message}}</label>
                  </div>
                </div>

                <!--<div class="col-md-12 field-col" *ngIf="referralAuthData?.message">-->
                  <!--<div class="textarea-container">-->
                    <!--<mat-form-field class="view-input" floatLabel="always">-->
                      <!--<textarea matInput placeholder="Message" style="height: auto;"-->
                                <!--matTextareaAutosize readonly>{{referralAuthData?.message}}</textarea>-->
                    <!--</mat-form-field>-->
                  <!--</div>-->
                <!--</div>-->


              </div>
            </div>
          </div>
          <!-- Referral Details - Ends ----------------------------------------- -->
          <!-- Claim Service - Starts ----------------------------------------- -->
          <div class="claim-service-section" *ngIf="serviceLevelDetails" id="serviceLevelDetails">
            <h2 class="sub-heading">
              Service Level Details
            </h2>
            <table datatable [dtOptions]="dtOptions"
                   class="common-datatable grid-table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th class="small-col">Service Provider</th>
                <th class="small-col">NPI</th>
                <th>Address</th>
                <th>HCPCS Code</th>
                <th>Effective Date(s)</th>
                <th class="small-col">Action Code</th>
                <th class="small-col">Reference ID</th>
                <th class="small-col">Message</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let serviceData of serviceLevelDetails; let i=index;">
                <td>{{i+1}}</td>
                <td>{{serviceData?.serviceProvider}}</td>
                <td>{{serviceData?.npi}}</td>
                <td>{{serviceData?.address ? displayAddress(serviceData?.address) : ''}}</td>
                <td>{{serviceData?.hcpcsCode}}</td>
                <td>{{serviceData?.serviceStartDate | convertStringToDate}}{{serviceData?.serviceEndDate!==''?' - ':''}}{{serviceData?.serviceEndDate | convertStringToDate}}</td>
                <td>{{serviceData?.actionCode}}</td>
                <td>{{serviceData?.identifier}}</td>
                <td>{{serviceData?.message}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- Claim Service - Ends ----------------------------------------- -->

          <!-- All Payers Contact information - Starts ----------------------- -->
          <app-all-payer-info></app-all-payer-info>
          <!-- All Payers Contact information - Ends ------------------------- -->

          <button (click)="showHideBackToTopButton('true', 1)" scrollTo scrollTargetSelector="#referral-body"
                  *ngIf="goOnTop" mat-button class="back-to-top"></button>

        </div>

      </div>
    </div>
  </div>
  <!-- Eligibility Response Selection - End ----------------------------------------------- -->

</div>

