<div class="main-right-section">
  <!-- Filter Expandable Section - Starts ----------------------------------------------- -->
  <div class="main-filter-section" id="report_body">
    <mat-expansion-panel class="filter-expansion" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="field-row row">
        <div class="col-sm-6 col-md-3 field-col">
          <div class="input-container">
            <label class="label-text">User ID</label>
            <mat-form-field class="input-field" hideRequiredMarker="true" floatPlaceholder="never">
              <input matInput placeholder="Enter User ID" name="userId" [(ngModel)]="model.userId">
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 field-col">
          <div class="input-container">
            <label class="label-text">Last Name</label>
            <mat-form-field class="input-field" hideRequiredMarker="true" floatPlaceholder="never">
              <input matInput placeholder="Enter Last Name" name="lastName" [(ngModel)]="model.lastName">
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 field-col">
          <div class="calendar-container">
            <label class="label-text">From</label>
            <mat-form-field class="calendar-field" floatPlaceholder="never" hideRequiredMarker="true">
              <input matInput [matDatepicker]="fromPicker" placeholder="MM/DD/YYYY"
                     name="fromDate" [(ngModel)]="model.fromDate" (blur)="validateStartDate($event)"
                     (keydown)="handledate($event)" maxlength="10" (dateChange)="fromPicker.close(); sDateErr = false;">
              <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
              <mat-datepicker #fromPicker ></mat-datepicker>
              <span class="custom-invalid" style="color:red" *ngIf="sDateErr">{{sdateMsg}}</span>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 field-col">
          <div class="calendar-container">
            <label class="label-text">To</label>
            <mat-form-field class="calendar-field" floatPlaceholder="never" hideRequiredMarker="true">
              <input matInput [matDatepicker]="toPicker" placeholder="MM/DD/YYYY"
                     name="toDate" [(ngModel)]="model.toDate" (blur)="validateEndtDate($event)"
                     (keydown)="handledate($event)" maxlength="10" (dateChange)="toPicker.close(); eDateErr = false;" >
              <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
              <mat-datepicker #toPicker ></mat-datepicker>
              <span class="custom-invalid" style="color:red" *ngIf="eDateErr">{{edateMsg}}</span>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="field-row row">
        <div class="col-sm-6 col-md-3 field-col">
          <div class="input-container">
            <label class="label-text">User Role</label>
            <mat-form-field class="select-field" floatPlaceholder="never">
              <mat-select placeholder="-- Select User Type --"
                          [(ngModel)]="model.role" name="role">
                <mat-option [value]="">-- Select User Type --</mat-option>
                <mat-option *ngFor="let user of userRoles | sortBy : 'viewValue'; let i = index" [value]="user.role">
                  {{user.viewValue}}
                </mat-option>
              </mat-select>

            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="btn-block">
        <button mat-button [disabled]="sDateErr || eDateErr" class="blue-btn submit" type="button" (click)="applyFilter()">Apply Filter</button>
        <button mat-button class="white-btn submit" type="button" (click)="clearFilter()">Clear Filter</button>
      </div>
    </mat-expansion-panel>
  </div>
  <!-- Filter Expandable Section - Ends ----------------------------------------------- -->

  <!-- Report View Section - Starts ----------------------------------------------- -->
  <div class="report-view-section" *ngIf="showDetails" id="reportDiv">

    <div class="heading-top">
      <h2 class="sub-heading with-toggle">Login-Logout Details</h2>
      <div class="top-level-btns dont-print">
        <mat-form-field class="select-field dropdown-menu" floatPlaceholder="never">
          <mat-select placeholder="" >
            <mat-option (click)="downloadReport('1')" value="1">PDF</mat-option>
            <mat-option (click)="downloadReport('2')" value="2">CSV</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button  class="blue-btn submit" type="button" *ngIf="!isMyReport" (click)="saveDialog()">Add to My Reports</button>
      </div>
      <!--<div class="toggle-container dont-print" >-->
        <!--<div class="toggle-two-labels">-->
          <!--<label class="pre-text">Collapse All</label>-->
          <!--<mat-slide-toggle class="toggle-btn" [(ngModel)]="expandOrCollapse" name="expandOrCollapse" [disabled]="response.length === 0"-->
          <!--(click)="model.selectedIndex = -1" >Expand All</mat-slide-toggle>-->
        <!--</div>-->
      <!--</div>-->
    </div>

    <!-- Custom Collapsible Table - Created by Sana - Starts ----------------------------- -->
    <div class="custom-collapsible-table">
      <div class="collapsible-head">
        <div class="cp-th width25">User ID</div>
        <div class="cp-th width25">Login Count</div>
        <div class="cp-th width25">Login Date/Time</div>
        <div class="cp-th width25">Logout Date/Time</div>
      </div>
      <div class="collapsible-body" *ngIf = "this.paginationObj.totalRecords> 0">
        <div *ngFor="let details of response; let i=index;" class="cp-row"
             [ngClass]="{'expandable': details.loginCount > 0, 'open' : this.model.selectedIndex === i}">
          <div class="cp-row-inner" (click)="setSelectedIndex(i,details)">
            <div class="cp-td width25">{{details.userName}}</div>
            <div class="cp-td width25">{{details.loginCount}}</div>
            <div class="cp-td width25"></div>
            <div class="cp-td width25"></div>

          </div>
          <!-- If a row has multiple inner rows -- Inner table body starts -->
          <div class="cp-inner-table" >
            <div class="cp-inner-row" *ngFor="let innerDetails of innerResponse">
              <div class="cp-inner-td width25"></div>
              <div class="cp-inner-td width25"></div>
              <div class="cp-inner-td width25">{{innerDetails.loginDateTime}}</div>
              <div class="cp-inner-td width25">{{innerDetails.logoutDateTime}}</div>
            </div>
            <div class="cp-inner-row inner-paginator" *ngIf="showInnerPager">
              <div class="cp-inner-td width100">
                <app-child-pager  [reportName]="response[i].userName"   [currentOffset]="paginationChildObj.currentOffSet" [pageSize]="paginationChildObj.pageSize" [totalRecords]="paginationChildObj.totalRecords"
                                         (changeSize)="updateChildPageSize($event)" (prevPager)="updateChildPage($event)" (nextPager)="updateChildPage($event)"  ></app-child-pager>
              </div>


            </div>
           </div>
<!-- If a row has multiple inner rows -- Inner table body ends -->
        </div>
        <div>


       <app-report-pagination     [currentOffset]="paginationObj.currentOffSet" [pageSize]="paginationObj.pageSize" [totalRecords]="paginationObj.totalRecords"
                              (changeSize)="updatePageSize($event)" (changePage)="updatePage($event)"  ></app-report-pagination> </div>
      </div>

      <div class="collapsible-body" *ngIf= "noRecordFound">
        <div class="cp-row-inner">
          <div class="cp-td empty-row">No Records Found</div>
        </div>
      </div>
    </div>
    <!-- Custom Collapsible Table - Created by Sana - Ends ----------------------------- -->


    <div class="btn-block dont-print" >
      <mat-form-field class="select-field dropdown-menu" floatPlaceholder="never">
        <mat-select placeholder="" >
          <mat-option (click)="downloadReport('1')" value="1">PDF</mat-option>
          <mat-option (click)="downloadReport('2')" value="2">CSV</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button class="white-btn delete-report" type="button" (click)="deleteReport()" *ngIf="isMyReport" >
        <svg fill="#3e3e3e" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>
      <button mat-button  class="blue-btn submit" type="button" *ngIf="!isMyReport" (click)="saveDialog()">Add to My Reports</button>
      <button mat-button  class="blue-btn" type="button" *ngIf="isMyReport" (click)="editDialog()">Subscription</button>
      &nbsp;&nbsp;
    </div>
  </div>
  <!-- Report View Section - Ends ----------------------------------------------- -->
</div>

<button mat-button class="back-to-top dont-print"  *ngIf="response && response.length >=2" scrollTo scrollTargetSelector="#report_body" ></button>

